.backgroundForest {
	background-color: #244F26;
	border-radius: 15px;
	color: white;
}

#search {
	width: 100%;
}

h4 {
	padding-bottom: 4px;
}

/* ------------- Fancy Checkboxes for Filter by Amenities - Changes color on click and changes checkboxes to fontawesome ------------- */

/* Hide the browser's default checkbox */
div input[type=checkbox] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Changes appearance of unchecked boxes */
.check_box label,span {
	color: dimgrey;
	font-size: large;
}

.FontAwesomeIcon {
	font-size: xx-large;
}

/* Changes appearance of checked boxes */
#trashrecyclingcollection:checked ~ .checkLabel,
#trashrecyclingcollection:checked ~ .checkLabel i{
	color: #2E86AB;
}

#toilets:checked ~ .checkLabel,
#toilets:checked ~ .checkLabel i{
	color: #2E86AB;
}

#internetconnectivity:checked ~ .checkLabel,
#internetconnectivity:checked ~ .checkLabel i{
	color: #2E86AB;
}

#showers:checked ~ .checkLabel,
#showers:checked ~ .checkLabel i{
	color: #2E86AB;
}

#cellphonereception:checked ~ .checkLabel,
#cellphonereception:checked ~ .checkLabel i{
	color: #2E86AB;
}

#laundry:checked ~ .checkLabel,
#laundry:checked ~ .checkLabel i{
	color: #2E86AB;
}

#dumpstation:checked ~ .checkLabel,
#dumpstation:checked ~ .checkLabel i{
	color: #2E86AB;
}

#campstore:checked ~ .checkLabel,
#campstore:checked ~ .checkLabel i{
	color: #2E86AB;
}

#stafforvolunteerhostonsite:checked ~ .checkLabel,
#stafforvolunteerhostonsite:checked ~ .checkLabel i{
	color: #2E86AB;
}

#potablewater:checked ~ .checkLabel,
#potablewater:checked ~ .checkLabel i{
	color: #2E86AB;
}

#iceavailableforsale:checked ~ .checkLabel,
#iceavailableforsale:checked ~ .checkLabel i{
	color: #2E86AB;
}

#firewoodforsale:checked ~ .checkLabel,
#firewoodforsale:checked ~ .checkLabel i{
	color: #2E86AB;
}

#amphitheater:checked ~ .checkLabel,
#amphitheater:checked ~ .checkLabel i{
	color: #2E86AB;
}

#foodstoragelockers:checked ~ .checkLabel,
#foodstoragelockers:checked ~ .checkLabel i{
	color: #2E86AB;
}